z_output/*.aux
z_output/*.fdb_latexmk
z_output/*.fls
z_output/*.log
z_output/*.out
z_output/*.synctex.gz
z_output/WorkingCoverLetter.pdf
z_output/Images/WorkingCoverLetterpage*.png
Templates/*
Sent
WorkingCoverLetter.*